html, body, input, button {
  font-family: 'Inconsolata';
  font-size: 13px;
}

button:before {
  content: "[";
}

button:after {
  content: "]";
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.psGlobalHeader {
  height: 30px;
  line-height: 30px;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 0 1ex;
}

.psMonitor__body {
  display: flex;
}

  .psMonitor__list {
    flex-grow: 1;
  }

  .psMonitor__tree {
    width: 200px;
    height: 320px;
    overflow: scroll;
  }

.psList__container {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.psList__header,
.psList__item {
  line-height: 20px;
  height: 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.psList__header {
  font-weight: bold;
  border-bottom: 1px dotted black;
}

.psList__header .psList__cell {
  cursor: pointer;
}

.psSortable--down:after,
.psSortable--up:after {
  margin-left: .5ex;
}

.psSortable--down:after {
  content: "\2193";
}

.psSortable--up:after {
  content: "\2191";
}

.psList__item {
  position: absolute;
}

.psList__item:nth-child(2n+1) {
  background-color: rgb(241, 241, 241);
}

.psList__cell {
  overflow: hidden;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
}

.psList__command {
  flex-grow: 5;
}

.psActionBar {
  border: 1px dotted black;
  padding: 1ex;
  border-top: none;
  display: flex;
  justify-content: space-between;
}

.psMonitorSingle {

}

.psMonitorSingle {
  font-weight: 1.5em;
}

.psMonitorSingle__list dt {
  font-weight: bold;
}
.psTreeLeaf--open:before,
.psTreeLeaf--closed:before {
  font-size: 1.35ex;
  width: 3ex;
  display: inline-block;
  vertical-align: .15ex;
  margin-left: -1ex;
}

.psTreeLeaf--open:before {
  content: "\25BC";
}

.psTreeLeaf--closed:before {
  content: "\25B6";
}

.psTreeBranch {
  padding-left: 10px;
  border-left: 1px dotted black;
  list-style: none;
}
